<!DOCTYPE html>
<html>
  <head>
    <title>一款好用的笔记软件</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'notes-bundle' %>
    <%#= stylesheet_pack_tag 'notes-bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
